{{component
  field-component
  id=elementId
  open="open"
  close="close"
  placeholder=placeholder
  disabled=disabled
  value=value

  role=role
  aria-activedescendant=aria-activedescendant
  aria-expanded=aria-expanded
  aria-autocomplete=aria-autocomplete
  aria-owns=aria-owns
  aria-haspopup=aria-haspopup
  aria-disabled=aria-disabled
  aria-labelledby=aria-labelledby

  class=class}}

{{#liquid-if isOpen class="ui-autocomplete-inline"}}
  {{#if inline}}
    {{#if isPromisePending}}
      <div class="ff-autocomplete-loader">
        {{#if loader-component}}
          {{component loader-component}}
        {{else}}
          <span>Loading...</span>
        {{/if}}
      </div>
    {{else}}
      {{#ui-option-list
        items=proxyContent.content
        selected-values=selectedValues
        disabled=disabled
        on-select="selectItem"
        close="close"
        set-aria-owns="setAriaOwns"
        set-active-descendent="setActiveDescendent"
        class="ff-autocomplete-menu"

        as |item|}}
        {{yield item}}
      {{else}}
        {{yield to="inverse"}}
      {{/ui-option-list}}
    {{/if}}
  {{else}}
    {{#liquid-tether
      to=to
      target=elementSelector
      attachment=attachment
      target-attachment=target-attachment
      target-modifier=target-modifier
      offset=offset
      target-offset=target-offset
      constraints=constraints
      optimizations=optimizations
      class=class}}
      {{#if isPromisePending}}
        <div class="ff-autocomplete-loader">
          {{#if loader-component}}
            {{component loader-component}}
          {{else}}
            <span>Loading...</span>
          {{/if}}
        </div>
      {{else}}
        {{#ui-option-list
          items=proxyContent.content
          selected-values=selectedValues
          disabled=disabled
          on-select="selectItem"
          close="close"
          set-aria-owns="setAriaOwns"
          set-active-descendent="setActiveDescendent"
          class="ff-autocomplete-menu"

          as |item|}}
          {{yield item}}
        {{else}}
          {{yield to="inverse"}}
        {{/ui-option-list}}
      {{/if}}
    {{/liquid-tether}}
  {{/if}}
{{/liquid-if}}
